[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=FoxSprite
GenericName=Sprite Editor
Comment=Animated sprite editor & pixel art tool
Icon=foxsprite
Categories=Graphics;2DGraphics;RasterGraphics;
Exec=foxsprite %U
TryExec=foxsprite
Terminal=false
StartupNotify=false
StartupWMClass=foxsprite
MimeType=image/bmp;image/gif;image/jpeg;image/png;image/x-pcx;image/x-tga;image/vnd.microsoft.icon;video/x-flic;image/webp;image/x-aseprite;
